body{
    background-color: #752511;
}


/* second html */
/* start */
#color{
    background-color: #41c28c;
    
    
}
/* end */
.click{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 20%;
    border: none;
    background-color: #82882b;
    padding: 20px 60px 20px 60px;
    color: #752511;
}
.click:hover{
    background-color: #41c28c;
    color: #0c7511;
    border-radius: 20px;
}
.put{
    padding: 5px 10px 5px 10px;
    border: #752511;
    border-radius:6px ;
    margin-right: 20px;
}
.text{
    font-size: large;
    font-family: sans-serif;
    font-weight: 600;
    color: #b912a3;
}
.text:hover{
    color: #081663;
    font-style: italic;
}

.display{
    display: flex;
   justify-content: space-around;
   margin-top: 60px;
}

#generatebtn{
    margin: 90px 30px 30px 570px;
    padding: 10px 30px 10px 30px;
    background-color: #0aad2d;
    color:#2431ad ;
    font-family: sans-serif;
    font-size: large;
    border: none;
    border-radius: 6px;
}
#generatebtn:hover{
    background-color: rgb(218, 174, 117);
    color:#ac1b23 ;
}
#storypage{
    background-color: rgb(150, 219, 173);
}
#story{
    color:#179231;
    margin-left: 490px;
    margin-top: 100px;
}
#story:hover{
    color:#1066a0;
    font-family: sans-serif;
    
}
